<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="../common/import.js"></script>
</head>
<body>
<div id="loginApp" style="position:absolute; left:0; top:0; width:100%;height:100%;background-color: #304156">
    <el-form ref="loginForm" :model="loginForm" style="width: 350px;padding: 35px;margin: 120px auto">
        <div style="text-align: center;color: #eee;margin-bottom: 40px;">
            <i class="configcenter-iconfont configcenter-icon-deploymentunit" style="font-size: xx-large;"></i>
            <span style="font-size: xx-large;">配置中心</span>
        </div>
        <el-form-item prop="managerId" :rules="[{ required:true, message:'请输入管理员id', trigger:'blur'}]">
            <el-input v-model="loginForm.managerId" prefix-icon="configcenter-iconfont configcenter-icon-user" clearable placeholder="请输入管理员id"></el-input>
        </el-form-item>
        <el-form-item prop="password" :rules="[{required:true, message:'请输入密码', trigger:'blur'}]">
            <el-input type="password" v-model="loginForm.password" prefix-icon="configcenter-iconfont configcenter-icon-lock    " clearable placeholder="请输入密码"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="login" style="width: 100%">登录</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    // 判断用户是否已登录
    axios.get('../manager/main/current')
        .then(function (result) {
            if (!result.success) {
                Vue.prototype.$message.error(result.message);
                return;
            }
            if (result.manager !== null) {
                window.location.href = 'main.html';
            }
        });

    // 判断是否需要初始化超级管理员
    axios.get('../manager/init/canInitAdmin')
        .then(function (result) {
            if (!result.success) {
                return;
            }
            Vue.prototype.$alert('第一次使用，需初始化超级管理员，现跳转到初始化页面', '提示', {
                callback: function () {
                    window.location.href = 'initAdmin.html';
                }
            });
        });

    const loginApp = new Vue({
        el: '#loginApp',
        data: {
            loginForm: {
                managerId: null,
                password: null
            }
        },
        methods: {
            login: function () {
                const theThis = this;
                this.$refs.loginForm.validate(function (valid) {
                    if (!valid) {
                        return;
                    }
                    axios.post('../manager/main/login', theThis.loginForm)
                        .then(function (result) {
                            if (result.success) {
                                window.location.href = 'main.html';
                            } else {
                                Vue.prototype.$message.error(result.message);
                            }
                        });
                });
            }
        }
    });
</script>
</body>
</html>