<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="../lib/vue.js"></script>
    <link rel="stylesheet" href="../lib/element-ui/element-ui.css">
    <script src="../lib/element-ui/element-ui.js"></script>
</head>
<body>
<div id="loginFormApp">
    <el-form ref="loginForm" :model="loginForm" label-width="80px">
        <el-form-item label="管理员id" :rules="[{ required:true, message:'请输入管理员id', trigger:'blur'}]">
            <el-input v-model="loginForm.managerId"></el-input>
        </el-form-item>
        <el-form-item label="密码">
            <el-input type="password" v-model="loginForm.password"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button @click="login">登录</el-button>
            <el-button @click="reset">重置</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    var loginFormApp = new Vue({
        el: '#loginFormApp',
        data: {
            loginForm: {
                managerId: '',
                password: ''
            }
        },
        methods: {
            login: function () {
                this.$refs['loginForm'].validate(function (valid) {
                    alert(valid);
                });
            },
            reset: function () {
                this.$refs['loginForm'].resetFields();
            }
        }
    });
</script>
</body>
</html>