
.table-solid table{border-right:1px solid ;border-bottom:1px solid }
.table-solid table td{border-left:1px solid ;border-top:1px solid }
.table-solid table th{border-left:1px solid ;border-top:1px solid }